<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/boards']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{board.Name}}</h2></mat-card-title>
    <mat-card-subtitle>{{board.Email}}</mat-card-subtitle>
    <mat-card-subtitle>{{board.Phone}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{board.Name}}</dd>
      <dt>Email:</dt>
      <dd>{{board.Email}}</dd>
      <dt>Phone:</dt>
      <dd>{{board.Phone}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/board-edit', board.key]"><mat-icon>edit</mat-icon></a>
    <a mat-fab color="warn" (click)="deleteBoard(board.key)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
