<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/boards']"><mat-icon>list</mat-icon></a>
</div>
<form class="example-form" [formGroup]="boardsForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="Name" />
    <mat-error>
      <span *ngIf="!boardsForm.get('Name').valid && boardsForm.get('Name').touched">
        Please enter Name
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Email" formControlName="Email"></textarea>
    <mat-error>
      <span *ngIf="!boardsForm.get('Email').valid && boardsForm.get('Email').touched">
        Please enter Email
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone" formControlName="Phone" />
    <mat-error>
      <span *ngIf="!boardsForm.get('Phone').valid && boardsForm.get('Phone').touched">
        Please enter Phone
      </span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!boardsForm.valid" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
