<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/boards']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="boardsForm" (ngSubmit)="onFormSubmit(boardsForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!boardsForm.get('Name').valid && boardstsForm.get('name').touched">Please enter contact name</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Email" formControlName="email"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!contactsForm.get('Email').valid && boardsForm.get('email').touched">Please enter contact email</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone" formControlName="phone"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!boardsForm.get('Phone').valid && contactsForm.get('Phone').touched">Please enter contact phone number</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!contactsForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
